@import "tailwindcss";

/* ======= Hide scrollbar but keep scrolling ======== */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* ==== MENU PAGINA ==== */
.main__page-center {
  @apply flex flex-row justify-center mx-auto w-full max-w-7xl min-h-screen bg-white;
}
