@import "tailwindcss";

/* ==== MENU PAGINA ==== */
.main__page-center {
  @apply flex flex-row justify-center mx-auto w-full max-w-7xl min-h-screen bg-white;
}

.menu__category-section {
  /* ruimte bovenin zodat “zwevende” beker niet tegen h2 komt */
  @apply w-full border-white border-[3px] overflow-visible pt-10;
}

.menu__category-grid {
  @apply grid gap-6 w-full;
  @apply grid-cols-1 sm:grid-cols-1 lg:grid-cols-1;
  @apply items-stretch auto-rows-fr;
}

.menu__category-grid-li {
  @apply w-full min-w-0 h-full;
}
