@import "tailwindcss";

/* ==== MENU PAGINA ==== */
.menu__tabs-list {
  @apply grid gap-12 justify-items-stretch h-fit;
  @apply grid-cols-[22rem_1fr];
}

.menu__btn {
  @apply flex flex-row justify-center items-center bg-amber-500 rounded-4xl w-fit p-6;
}
.menu__category-section {
  /* ruimte bovenin zodat “zwevende” beker niet tegen h2 komt */
  @apply w-full border-white border-[3px] overflow-visible pt-10;
}

.menu__category-grid {
  /* speling onder h2 + genoeg row-gap voor de zwevende beker */
  @apply grid w-full justify-items-center;
  @apply gap-x-8 gap-y-50;

  /* responsive grid (beter dan hard grid-cols-3) */
  @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-3;
}

.menu__category-grid-li {
  @apply w-full min-w-0;
}
